<?xml version="1.0" encoding="UTF-8"?>
<Configuration>
    <Appenders>
        <Console name="STDOUT" target="SYSTEM_OUT">
            <PatternLayout pattern="%-5p - %m%n"/>
        </Console>
{% if syslog %}
        <Gelf name="gelf" host="${env:SYSLOG_PROT}:${env:SYSLOG_ADDR}" port="${env:SYSLOG_PORT}" version="1.1"
              extractStackTrace="true" facility="kafka-console"
              filterStackTrace="true" mdcProfiling="true" includeFullMdc="true" maximumMessageSize="8192" 
              originHost="%host{fqdn}" ignoreExceptions="true">
            <Field name="className" pattern="%C" />
            <Field name="mdcField2" mdc="mdcField2" />
{% if tags is defined %}
{% for key,value in tags.iteritems() %}
            <Field name="{{ key }}" literal="{{ value }}" />
{% endfor %}
{% endif %}
            <Field name="environments" literal="{{ environments | default('SIT') | upper }}" />
            <Field name="group" literal="{{ group_names[0] | upper }}" />
            <DynamicMdcFields regex="mdc.*" />
            <DynamicMdcFields regex="(mdc|MDC)fields" />
        </Gelf>
{% endif %}
    </Appenders>
    <Loggers>
        <Root level="INFO" includeLocation="false">
            <AppenderRef ref="STDOUT"/>
{% if syslog %}
            <AppenderRef ref="gelf" />
{% endif %}
        </Root>
    </Loggers>
</Configuration>
